<meta name="viewport"content="device width,initial-scale=1">
body{margin:0%;
}
.wrapper 
{background: rgb(0, 100, 0);
position: absolute;
right:2%;
border-radius: 20%;}
.wrapper ul
{display:inline-flex;
text-align:right;
margin-right: 30px;
list-style: none;
color:#fff;
}
.wrapper ul li
{
    width:50px;
    margin:15px;
    padding:5px;
}
.wrapper ul li a
{
    text-decoration: none;
    color:#fff;
    font-size:xx-large;
}
.sub-login{
    display: none;
}
.wrapper ul li:hover .sub-login{
    display:block;
    background:rgb(14, 65, 14);
    position:absolute;
    margin-top: 15 px;
    margin-left:0 px;
}
.wrapper ul:hover .sub-login ul
{ margin:10%;
}
.wrapper ul li:hover .sub-login ul 
{width:100px;
padding:10px;
border-bottom: 1px dotted #fff;
background: transparent;
border-radius:0;
text-align:left;
}
.wrapper ul:hover .sub-login 
{display:block;margin:10 px;}
.wrapper ul:hover .sub-login ul li a
{  width:50px;
    margin:15px;
    padding:5px;
    text-align: left;}
.wrapper ul:hover .sub-login ul li a
{
    width:50px;
    margin:15px;
    padding:5px;
}